<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= t('email.customer.order.completed.title') %></title>
  </head>
  <body style="margin: 0; padding: 0;">
    <%= image_tag attachments['logo.png'].url, :alt => 'BBF', style: 'display: inline-block; width: 350px; height: auto; margin: 0 auto;' %>
    <p><%= t('email.customer.order.completed.greet', name: @name) %></p>
    <p><%= "#{t('email.customer.order.completed.order_number')}: #{@order.number}" %></p>
    <p><%= "#{t('email.customer.order.completed.date')}: #{@order.completed_at.strftime("%y-%m-%d %H:%M:%S")}" %></p>

    <table>
      <tr>
        <th><%= t('orders.products') %></th>
        <th>
        <th><%= t('orders.price') %></th>
      </tr>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= pluralize(order_item.amount, order_item.online_product.name) %></td>
            <td><%= order_item.total %></td>
          </tr>
        <% end %>
      <tr>
        <td><%= t('orders.total') %></td>
        <td><%= "#{@order.total} #{t('currency_symbol')}" %></td>
      </tr>
    </table>
  </body>
</html>